# Parameter launchdarkly-client-side-id
LAUNCHDARKLY_CLIENT_SIDE_ID=abcdef1234567990abcdef12

# Parameter launchdarkly-events-uri
LAUNCHDARKLY_EVENTS_URI=https://events.launchdarkly.com

# Parameter launchdarkly-sdk-key
LAUNCHDARKLY_SDK_KEY=sdk-abcdef01-2345-6789-abcd-ef1234567890

# Parameter launchdarkly-stream-uri
LAUNCHDARKLY_STREAM_URI=https://stream.launchdarkly.com

# Parameter redis-password
REDIS_PASSWORD=abcdefg

